{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <img src="{{ asset(user.picture) }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ user.lastname }} {{ user.firstname }}</h5>
            {% for contract in user.contract %}
                <h6>{{ contract.name }}</h6>
            {% endfor %}
            <p class="card-text">{{ user.email }}</p>
        </div>
    </div>

{% endblock %}
